# Paperless-ngx:latest inklusive Redis, Tika, Gotenberg, MariaDB und phpMyAdmin
# YAML-Dateiversion: 1.00 vom 01.11.2025

# Erstelle  einen Ordner namens „paperless-nxg” im Docker-Verzeichnis. 
# Wechsel in diesen Ordner und erstelle die folgenden Unterordner: 
# data, media, export, consume, mariadb und redisdata.
#
# Die endgültige Verzeichnisstruktur sollte wie folgt aussehen:
# /volume1
#   /docker
#     /paperlessngx
#       /data
#       /media
#       /export
#       /consume
#       /mariadb
#       /redisdata

services:

# Redis Container
  broker:
    image: docker.io/library/redis:8

    # Containername (nach Bedarf anpassen)
    container_name: Paperlessngx-Redis
    restart: unless-stopped

    # Sicherheitsoptionen
    security_opt:
      - no-new-privileges:true

    # Gesundheitscheck
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

    # Speicherort persistenter Daten (Pfad vor dem Doppelpunkt nach Bedarf anpassen)
    volumes:
      - /volume1/docker/paperlessngx/redisdata:/data:rw

# MariaDB Container
  db:
    image: docker.io/library/mariadb:12

    # Containername (nach Bedarf anpassen)
    container_name: Paperlessngx-MariaDB
    restart: unless-stopped

    # Sicherheitsoptionen
    security_opt:
      - no-new-privileges:true

    # Weiterleitungsport (Port vor dem Doppelpunkt nach Bedarf anpassen)
    ports:
      - 3306:3306

    # Gesundheitscheck
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 30s
      timeout: 30s
      retries: 3

    # Speicherort persistenter Daten (Pfad vor dem Doppelpunkt nach Bedarf anpassen)
    volumes:
      - /volume1/docker/paperlessngx/mariadb:/var/lib/mysql

    # Umgebungsvariablen
    environment:
      # Hostname des MariaDB-Containers (nach Bedarf anpassen)
      MARIADB_HOST: mariadb
      # Datenbankname (nach Bedarf anpassen)
      MARIADB_DATABASE: paperless
      # Datenbankbenutzer (nach Bedarf anpassen)
      MARIADB_USER: paperless
      # Datenbankpasswort (nach Bedarf anpassen)
      MARIADB_PASSWORD: mariadb-password
      # Root-Passwort (nach Bedarf anpassen)
      MARIADB_ROOT_PASSWORD: mariadb-root-password

# phpMyAdmin Container 
  phpmyadmin:
    image: phpmyadmin:latest

    # Containername (nach Bedarf anpassen)
    container_name: Paperlessngx-phpMyAdmin
    restart: unless-stopped

    # Sicherheitsoptionen
    security_opt:
      - no-new-privileges:true

    # Weiterleitungsport (Port vor dem Doppelpunkt nach Bedarf anpassen)
    ports:
      - 2500:80

    # Umgebungsvariablen
    environment:
      # Weiterleitungsport an den MariaDB-Container
      PMA_PORT: 3306
      # Servicename des MariaDB-Containers
      PMA_HOST: db

# Gotenberg Container
  gotenberg:
    image: docker.io/gotenberg/gotenberg:latest

    # Containername (nach Bedarf anpassen)
    container_name: Paperlessngx-Gotenberg
    restart: unless-stopped

    # Sicherheitsoptionen
    security_opt:
      - no-new-privileges:true

    # Die Goteborg-Chromium-Route wird zur Konvertierung von .eml-Dateien verwendet. 
    # Wir möchten keine externen Inhalte wie Tracking-Pixel oder sogar Javascript zulassen.
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
  
# Tika Container
  tika:
    image: docker.io/apache/tika:latest

    # Containername (nach Bedarf anpassen)
    container_name: Paperlessngx-Tika
    restart: unless-stopped

    # Sicherheitsoptionen
    security_opt:
      - no-new-privileges:true

# Paperless-ngx Container
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest

    # Containername (nach Bedarf anpassen)
    container_name: Paperlessngx
    restart: unless-stopped

    # Sicherheitsoptionen
    security_opt:
      - no-new-privileges:true

    # Weiterleitungsport (Port vor dem Doppelpunkt nach Bedarf anpassen)
    ports:
      - "8118:8000"

    # Festlegung der Reihenfolge und Ausführung weiterer Dienste-Abhängigkeiten
    depends_on:
      - db
      - broker
      - gotenberg
      - tika
      - phpmyadmin

    # Gesundheitscheck
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8000"]
        interval: 30s
        timeout: 10s
        retries: 5

    # Speicherorte persistenter Daten (Pfade vor dem Doppelpunkt nach Bedarf anpassen)
    volumes:
      - /volume1/docker/paperlessngx/data:/usr/src/paperless/data:rw
      - /volume1/docker/paperlessngx/media:/usr/src/paperless/media:rw
      - /volume1/docker/paperlessngx/export:/usr/src/paperless/export:rw
      - /volume1/docker/paperlessngx/consume:/usr/src/paperless/consume:rw

    # Umgebungsvariablen
    environment:
      # Umgebungsvariablen für den Redis-Container festlegen
      PAPERLESS_REDIS: redis://broker:6379

      # Umgebungsvariablen für den MariaDB-Container festlegen
      PAPERLESS_DBENGINE: mariadb
      # Hostname des MariaDB-Containers (entspricht dem Servicenamen "db")
      PAPERLESS_DBHOST: db
      # Datenbankname (entspricht der Variablen "MARIADB_DATABASE" im Abschnitt services: -> db: )
      PAPERLESS_DBNAME: paperless
      # Benutzername (entspricht der Variablen "MARIADB_USER" im Abschnitt services: -> db: )
      PAPERLESS_DBUSER: mariadb-password
      # Benutzername (entspricht der Variablen "MARIADB_PASSWORD" im Abschnitt services: -> db: )
      PAPERLESS_DBPASS: mariadb-root-password
      # Weiterleitungsport (entspricht der Variablen "ports:" im Abschnitt services: -> db: )
      PAPERLESS_DBPORT: 3306

      # Umgebungsvariablen für den Tika-Container festlegen
      # Aktivieren (oder deaktivieren) des Tika-Parser
      PAPERLESS_TIKA_ENABLED: 1
      # Legt die URL fest, über die Paperless den Gotenberg-Server erreichen kann
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg:3000
      # Legt die URL fest, über die Paperless den Tika-Server erreichen kann
      PAPERLESS_TIKA_ENDPOINT: http://tika:9998

      # Umgebungsvariablen für den Paperless-ngx-Container festlegen
      # Benutzer-ID des berechtigten Docker-Systembenutzers (nach Bedarf anpassen)
      USERMAP_UID: 1000
      # Gruppen-ID des berechtigten Docker-Systembenutzers (nach Bedarf anpassen)
      USERMAP_GID: 10
      # Name des Paperless-ngx Benutzers (nach Bedarf anpassen)
      PAPERLESS_ADMIN_USER: admin-user
      # Passwort des Paperless-ngx Benutzers (nach Bedarf anpassen)
      PAPERLESS_ADMIN_PASSWORD: admin-password
      # Zeitzone (nach Bedarf anpassen)
      PAPERLESS_TIME_ZONE: Europe/Berlin
      # OCR-Sprache (nach Bedarf anpassen)
      PAPERLESS_OCR_LANGUAGE: deu+eng
      # Standard-OCR-Dateinamenformat (nach Bedarf anpassen)
      PAPERLESS_FILENAME_FORMAT: '{{ correspondent }}/{{ document_type }}/{{ created_year }}-{{ created_month }}-{{ created_day }}_{{ title }}'
      # Entferne alle Platzhalter, die als "none" aufgelöst wurden.
      PAPERLESS_FILENAME_FORMAT_REMOVE_NONE: true
      # Überprüfen, ob der Dateiname ein gültiges Datum (YYYY-MM-DD) enthält. Ist dies der Fall, wird dieses anstelle des Datums im Dokument verwendet.
      PAPERLESS_FILENAME_DATE_ORDER: YMD
      # Entferne alle doppelten Dateien aus dem Ordner "Consume"
      PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
      # Dateien in Unterordnern des Consumeordners erfassen
      PAPERLESS_CONSUMER_RECURSIVE: true
      # Ignoriere ein oder mehrere durch Kommas getrennte Datumsangaben in den Dokumenten (nach Bedarf anpassen)
      PAPERLESS_IGNORE_DATES: "1970-01-01, 1970-12-31"
      # Die digitale Signatur von PDF-Dokumenten ungültig machen, um die OCR-Verarbeitung zu ermöglichen
      PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'